<template>
  <p class="loader"><Icon name="galactic-empire" /></p>
</template>

<script>
import Icon from '@/components/partials/Icon.vue'

export default {
  functional: true,
  components: {
    Icon
  }
}
</script>
