#app {
  background: var(--body);
  font-family: $body-font;
}

.center {
  @include container;
}

.icon {
  svg {
    fill: currentColor;
    display: block;
    height: 100%;
    width: 100%;

    path {
      fill: inherit;
    }
  }
}
