// Align to center with tranforms
@mixin center($axis: 'both') {
  position: absolute;
  @if $axis == 'y' {
    top: 50%;
    transform: translateY(-50%);
  }
  @if $axis == 'x' {
    left: 50%;
    transform: translateX(-50%);
  }
  @if $axis == 'both' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// Container
@mixin container {
  margin: 0 auto;
  max-width: $max-width;
}

// Font face
@mixin font-face($family, $src, $style: normal, $weight: normal) {
  @font-face {
    font-family: $family;
    src: url('#{$src}.woff2') format('woff2'),
      /* Super Modern Browsers */ url('#{$src}.woff') format('woff'); /* Pretty Modern Browsers */

    font-style: $style;
    font-weight: $weight;
  }
}

// Media queries
@mixin media($max-width: $mobile) {
  @media only screen and (max-width: $max-width) {
    @content;
  }
}

// Target/context formula
@function ctx($target, $context: $font-size, $val: 1rem) {
  $target-context-num: $target/$context * $val;
  @return $target-context-num;
}

// Full width parent
@mixin fullWidth {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

// Stretch elements in limited containers
@mixin stretch() {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// Basic before/after element
@mixin element() {
  content: '';
  display: block;
}
