// COLORS
:root {
  --black: #000;
  --white: #fff;

  --success: #a7c520;
  --error: #f3332b;
  --warning: #ffb03b;

  --facebook: #3b5997;
  --twitter: #4099ff;
}

// MEDIA
$max-width: 1100px;
$desktop-wide: 1680px;
$desktop: 1280px;

$tablet-wide: 960px;
$tablet: 768px;

$mobile-wide: 670px;
$mobile: 480px;

// TYPE
$font-size: 16px;
$line-height: 1.5;
$body-font: 'Work Sans', 'Avenir', sans-serif;
$serif-font: 'Cinzel', Georgia, serif;
$title-font: 'Krona One', sans-serif;

$thin: 100;
$light: 300;
$regular: 400;
$mediumbold: 500;
$semibold: 600;
$bold: 700;
$ultra: 900;
