<template>
  <div class="globe" id="globeViz"></div>
</template>

<script>
import Globe from 'globe.gl'
import * as THREE from 'three'

export default {
  watch: {
    zoom() {
      setTimeout(() => {
        this.world.pointOfView({ altitude: this.zoom }, 1000)
      }, 200)
    },
    image() {
      this.world
        .globeImageUrl(`./planets/${this.image}.jpg`)
        .bumpImageUrl(`./bumps/${this.image}.jpg`)
    }
  },
  props: {
    image: String,
    hemisphere: {
      type: Number,
      default: 0.5
    },
    directional: {
      type: Number,
      default: 1.2
    },
    zoom: {
      type: Number,
      default: 2.5
    }
  },
  data() {
    return {
      world: null
    }
  },
  mounted() {
    this.world = Globe()(document.getElementById('globeViz'))
      .height(window.innerHeight)
      .showAtmosphere(false)
      .globeImageUrl(`./planets/${this.image}.jpg`)
      .bumpImageUrl(`./bumps/${this.image}.jpg`)
      .backgroundImageUrl('./starfield_blue.jpg')

    const hemisphereLight = new THREE.HemisphereLight(
      0xf5a142,
      0x000000,
      this.hemisphere
    )
    const directionalLight = new THREE.DirectionalLight(
      0xffffff,
      this.directional
    )
    directionalLight.position.set(5, 0, 5)
    directionalLight.target.position.set(0, 0, 0)
    directionalLight.castShadow = true

    this.world.scene().add(directionalLight)
    this.world.scene().add(hemisphereLight)

    // Add auto-rotation
    this.world.controls().autoRotate = true
    this.world.controls().autoRotateSpeed = 1

    this.world.pointOfView({ altitude: this.zoom }, 1000)
  }
}
</script>
