%button,
.button {
  all: unset;
  background: var(--white);
  color: var(--black);
  padding: 12px 50px;
  font-family: $title-font;
  text-align: center;
  display: block;
  text-transform: uppercase;
  margin: 40px auto auto;
  border: 2px solid white;
  transition: 200ms;
  cursor: pointer;
  font-size: ctx(13px);

  &:hover {
    color: white;
    background: transparent;
  }
}

.button--Load {
  @extend %button;
  margin-bottom: 50px;
}
