<template>
  <div class="admin">
    <main class="view">
      <section class="list" :class="{ 'is-Active': data.showList }">
        <header class="list__Header">
          <h2 class="intro__Title">Star Wars</h2>
          <p class="intro__Lead">A visual guide</p>
        </header>
        <nav class="list__Order">
          <form>
            <input-text
              class="list__Search"
              icon="search"
              placeholder="Filter characters by name and press enter"
              v-model:value="data.filters.name"
            />
          </form>
          <!-- <h2 class="list__OrderTitle">Order by</h2>
          <ul class="list__OrderInner">
            <li class="list__OrderItem">Name</li>
            <li class="list__OrderItem">Height</li>
            <li class="list__OrderItem">Mass</li>
            <li class="list__OrderItem">Edited</li>
            <li class="list__OrderItem">Homeworld</li>
          </ul> -->
        </nav>
        <ul class="list__Inner" v-if="data.people.length > 0">
          <Character
            v-for="character in data.people"
            :class="{ 'is-Active': data.curPlanet.url === character.homeworld }"
            :key="character.url"
            v-bind="{ character, curPlanet }"
            @handle-click="handleClick"
          />
        </ul>

        <div class="error" v-else-if="!data.loading">
          <Icon class="error__Icon" name="lightsaber" />
          <h2 class="error__Title">Nothing found</h2>
          <p class="error__Text">
            These are not the characters you are searching for.
          </p>
        </div>

        <Loader v-if="data.loading" />
        <Button v-else-if="data.next" class="button--Load" @click="fetchPeople"
          >Load more</Button
        >
      </section>
      <section class="intro" :class="{ 'is-Active': data.showList }">
        <div class="intro__Content">
          <h2 class="intro__Title">Star Wars</h2>
          <p class="intro__Lead">A visual guide</p>
          <Button @click="toggleList(true)">Meet the characters</Button>
        </div>
        <Globe
          :image="
            data.curPlanet && data.curPlanet.name
              ? data.curPlanet.name.toLowerCase()
              : 'trask'
          "
          :zoom="data.showList ? 4 : 2.5"
          :directional="1"
          :hemisphere="0.5"
        />
      </section>

      <div class="planetInfo" v-if="data.curPlanet.name">
        <h2 class="planetInfo__Name">{{ data.curPlanet.name }}</h2>
        <ul class="planetInfo__List">
          <li class="planetInfo__ListItem">
            <strong>Diameter</strong> {{ data.curPlanet.diameter }}
          </li>
          <li class="planetInfo__ListItem">
            <strong>Climate</strong> {{ data.curPlanet.climate }}
          </li>
          <li class="planetInfo__ListItem">
            <strong>Population</strong> {{ data.curPlanet.population }}
          </li>
        </ul>
      </div>
    </main>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, watch } from 'vue'
import { Filter, CharacterType, PlanetType } from '../../types'
import debounce from '@/utils/debounce'

import Icon from '../components/partials/Icon.vue'
import Loader from '../components/partials/Loader/Loader.vue'
import InputText from '../components/forms/InputText/InputText.vue'
import Button from '../components/forms/Button/Button.vue'
import Character from '../components/list/Character/Character.vue'
import Globe from '@/components/list/Globe.vue'

export default defineComponent({
  name: 'Home',
  components: {
    Icon,
    Loader,
    InputText,
    Button,
    Character,
    Globe
  },
  setup() {
    const data = reactive({
      loading: false,
      showList: false,
      next: null,
      people: [] as CharacterType[],
      curPlanet: {} as PlanetType,
      filters: {
        name: ''
      } as Filter
    })

    const fetchPeople = () => {
      data.loading = true
      const url = data.next || `http://swapi.dev/api/people/`
      fetch(url)
        .then((res) => res.json())
        .then((res) => {
          data.loading = false
          data.next = res.next
          data.people.push(...res.results)
        })
    }
    fetchPeople()

    const searchPeople = () => {
      const url = `http://swapi.dev/api/people/?search=${data.filters.name}`
      fetch(url)
        .then((res) => res.json())
        .then((res) => {
          data.loading = false
          data.next = res.next
          data.people = res.results
        })
    }

    watch(
      () => data.filters.name,
      () => {
        data.people = []
        data.loading = true
        debounce(searchPeople, 800)()
      }
    )

    const toggleList = (val: boolean) => {
      data.showList = val
    }

    const handleClick = (val: PlanetType) => {
      data.curPlanet = val
    }

    return {
      data,
      fetchPeople,
      searchPeople,
      toggleList,
      handleClick
    }
  }
})
</script>
