<template>
  <span
    :class="original ? 'image' : 'icon'"
    v-html="require(`../../assets/icons/${name}.svg`)"
  ></span>
</template>

<script>
export default {
  props: {
    name: String,
    original: Boolean
  }
}
</script>
