.inputText {
  color: var(--white);
  position: relative;
  margin: 15px 0;
}

.inputText__Icon {
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  top: 50%;
  margin-top: -8px;
  pointer-events: none;
}

.inputText__Field {
  border: 0;
  padding: 12px 20px;
  font-size: ctx(15px);
  border-radius: 5px;
  width: 100%;
  transition: 100ms;
  background: transparent;
  color: var(--white);

  &:hover {
    border-color: var(--brand);
  }

  &.has-Icon {
    padding-left: 30px;
  }

  &::placeholder {
    opacity: 1;
  }
}
