<template>
  <div>
    <label class="formLabel" v-if="label" :for="id">{{ label }}</label>
    <div class="inputText">
      <icon class="inputText__Icon" v-if="icon" :name="icon" />
      <input
        type="text"
        class="inputText__Field"
        v-model="input"
        :placeholder="placeholder"
        :class="{ 'has-Icon': icon }"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue'
import Icon from '../../partials/Icon.vue'

export default defineComponent({
  components: { Icon },
  props: {
    id: String,
    label: String,
    value: String,
    placeholder: String,
    icon: String
  },
  setup(props, { emit }) {
    const input = computed({
      get: () => props.value,
      set: (value) => emit('update:value', value)
    })

    return {
      input
    }
  }
})
</script>
