.character {
  display: block;
  position: relative;

  &:hover {
    .character__Info {
      transform: translateY(-10px);
    }

    img {
      opacity: 0.6;
    }
  }

  &.is-Active {
    .character__Check {
      opacity: 1;
    }
  }
}

.character__Image {
  position: relative;
  padding-bottom: 150%;
  background: var(--black);

  &::after {
    @include element;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent, black);
    z-index: 1;
  }

  img {
    max-width: 100%;
    height: auto;
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 500ms;
    will-change: opacity;
  }
}

.character__Info {
  position: relative;
  z-index: 20;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 2s $ease-out-quint;
  will-change: transform;
  text-align: center;
}

.character__Name {
  text-align: center;
  font-size: 2.5vw;
  line-height: 1;
  word-spacing: 2000px;
  font-family: $title-font;
  margin: 0;
}

.character__Planet {
  text-align: center;
  font-size: 1.5vw;
  margin: 20px 0 0;
  position: relative;
  display: inline-block;
  line-height: 1;
}

.character__Check {
  color: var(--success);
  @include center(y);
  right: -30px;
  width: 20px;
  height: 20px;
  z-index: 20;
  transition: 500ms;
  opacity: 0;
  display: block;
}
