<template>
  <li class="character" @click="handleClick">
    <div class="character__Image">
      <img :src="`./characters/${getID(character.url)}.jpg`" alt="" />
    </div>
    <div class="character__Info">
      <h2 class="character__Name">{{ character.name }}</h2>
      <h2 class="character__Planet">
        {{ data.planet.name }}
        <span class="character__Check">
          <Icon name="circle-check" />
        </span>
      </h2>
    </div>
  </li>
</template>

<script lang="ts">
import Icon from '@/components/partials/Icon.vue'
import { defineComponent, reactive } from 'vue'
import { CharacterType, PlanetType } from '../../../../types'

export default defineComponent({
  props: {
    character: {
      type: Object as () => CharacterType,
      required: true
    }
  },
  components: {
    Icon
  },
  setup(props, { emit }) {
    const data = reactive({
      planet: { name: 'Loading...' } as PlanetType
    })

    const getID = (url: string) => {
      const id = url ? url.match(/\d+/) : ''
      return id
    }

    const handleClick = () => {
      emit('handle-click', data.planet)
    }

    fetch(props.character.homeworld)
      .then((res) => res.json())
      .then((res) => {
        data.planet = res
      })

    return {
      data,
      getID,
      handleClick
    }
  }
})
</script>
