.error {
  text-align: center;
  padding: 50px 30px;
}

.error__Title {
  font-family: $serif-font;
  font-size: ctx(32px);
  margin: 20px 0 10px 0;
}

.error__Icon {
  display: block;
  width: 80px;
  height: 80px;
  margin: auto;
}

.error__Text {
  color: darken(white, 50%);
  font-size: ctx(18px);
  margin: 0;
}
