.intro {
  height: 80vh;
  height: 100vh;
  position: relative;
  overflow: hidden;
  transition: 600ms $ease-out-quint;

  &.is-Active {
    transform: translateX(25%);
  }
}

.intro__Content {
  @include center;
  z-index: 10;
  text-align: center;
  color: var(--white);
  transition: 300ms;

  .is-Active & {
    opacity: 0;
    visibility: hidden;
  }
}

.intro__Title {
  font-size: 2.5em;
  margin: 0;
  font-family: $serif-font;
}

.intro__Lead {
  font-size: 3em;
  font-family: $title-font;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.1;
}
