.list {
  position: fixed;
  max-width: 50%;
  width: 100%;
  background: var(--black) url('/bg.jpg') no-repeat center top;
  background-size: 100% auto;
  top: 0;
  bottom: 0;
  left: 0;
  transition: 600ms $ease-out-quint;
  z-index: 200;
  color: var(--white);
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100px);
  overflow-y: auto;
  padding-bottom: 20px;
  will-change: transform;

  &.is-Active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

.list__Search {
  flex: 1;
  margin-right: 20px;
}

.list__Header {
  font-size: 10px;
  margin: 30px;
}

.list__Inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  width: 100%;
  padding: 0 30px 30px;
}

.list__Order {
  padding: 0 30px;
  border-top: 1px solid rgba(white, 0.05);
  display: flex;
  align-items: center;

  form {
    flex: 1;
  }
}

.list__OrderTitle {
  font-size: ctx(15px);
  margin-right: 10px;
  margin-left: auto;
}

.list__OrderInner {
  display: flex;
}

.list__OrderItem {
  font-size: ctx(15px);
  padding: 0 10px;

  &:last-child {
    padding-right: 0;
  }
}
