.planetInfo {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px;
  color: var(--white);
  width: 500px;
  text-align: right;
}

.planetInfo__Name {
  font-family: $serif-font;
  font-size: ctx(46px);
  margin: 0 0 10px;
}

.planetInfo__List {
  all: unset;
  display: block;
}

.planetInfo__ListItem {
  display: block;
  font-size: ctx(18px);

  strong {
    font-family: $title-font;
    font-size: ctx(14px);
    text-transform: uppercase;
  }
}
